/*Styles*/

body {
  background-color: rgb(80, 80, 160);
}

.wrap {
  margin: 0 auto;
  max-width: 85%;
}

a {
  text-decoration: none;
}

.item {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  margin: 20px auto;
}

/*TEXT STYLES*/
h1 {
  color: rgb(255, 255, 255);
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}

 h3 {
   color: rgb(255, 255, 255);
   font-family: 'Ek Mukta', sans-serif;
   font-weight: 900;
   font-size: 40px;
   text-align: center;
   margin-top: -5px;
 }

 h6 {
   font-family: 'Ek Mukta', sans-serif;
   font-weight: 900;
   font-size: 20px;
   margin: 0px;
 }

 .extract {
   font-family: 'Ek Mukta', sans-serif;
   font-weight: 400;
   font-size: 14px;
 }

.faded1 {
  color: rgb(80, 80, 160);
}

input[type="text"] {
  color: rgb(255, 255, 255);
  font-family: 'Ek Mukta', sans-serif;
  font-size: 24px;
}

/*BUTTON STYLES*/
.shell {
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
}

.button1 {
  position: relative;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  min-width: 50px;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.button2 {
  position: relative;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  width: inherit;
  height: 50px;
  margin: 0 10px;
}

.hover1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: none;
}

.hover2 {
  display: flex;
  justify-content: center;
}

.fade2 {
  width: 150px;
  display: none;
  margin: 0 10px;
  background-color: inherit;
  border: none;
}

.faded2:focus, input:focus{
    outline: none;
}

/*IMAGE STYLES*/
.img1 {
  padding: 5px;
}

.img2 {
  display: none;
  padding: 5px;
}

/*MEDIA QUERIES*/

@media (min-width: 450px) {
  .fade2 {
    width: 250px;
  }

  .shell {
    margin-bottom: 5%;
  }

  .item {
    width: 85%;
    max-width: 1200px;
  }
}
